:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --ff-title: "bungee", sans-serif;
  --fw-title: 400;
}

.buttCont {
  z-index: 10;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

button {
  width: 50px;
  height: 50px;
  outline: none;
  user-select: none;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.04rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  border: 0.3rem solid black;
  background: white;
  position: relative;
  overflow: hidden;
  box-shadow: 0 3px 0 0 gray;
}

button:active {
  top: 3px;
  box-shadow: none;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.spath {
  stroke-dasharray: 2623;
  stroke-dashoffset: 2623;
  animation: sign 4s ease 2s;
  animation-fill-mode: forwards;
}
.spath:nth-child(4) {
  animation-delay: 3.5s;
}
.spath:nth-child(2) {
  animation-delay: 3.5s;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
}

.container::-webkit-scrollbar {
  display: none;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  scroll-snap-align: start;
  flex-direction: column;
}

.one {
  background: white;
}

.onepointfive {
  background: white;
}

.two {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  background-color: black;
}

a {
  color: white;
}

.containerbackground {
  align-self: start;
  margin: 3rem;
  color: #c0c0c0;
  font-size: 40px;
}

.three {
  align-items: start;
  background: black;
  padding: 100px 100px;
  line-height: 30px;
  letter-spacing: 2px;
}

.four {
  background: lightblue;
}

.ball {
  position: absolute;
  transition: transform 0.4s;
}

#fist {
  cursor: pointer;
  width: 100px;
  height: 100px;
}

#typeButt {
  left: 50%;
  color: black;
  font-size: 12px;
  cursor: pointer;
  width: 100px;
  height: 100px;
  box-shadow: 0 3px 0 0 grey;
  border-color: white;
  font-family: var(--ff-title);
}

#typeButt:active {
  box-shadow: none;
}

#projects {
  color: black;
  width: 150px;
  height: 70px;
  border-radius: 0.25rem;
  font-size: 20px;
  font-family: var(--ff-title);
}
